

.cancel{
  text-align: center;
  position: auto;
}

.avatarupload{
  margin: auto;
  display: block;
  text-align: center;
}

.profimage{
  margin: auto;
  display: block;
  text-align: center;
}

body {
  background-color: #E8ECED;

}
.image{
  margin: auto;
  padding: 5px;
}

.actions {
  margin: auto;
  position: relative;
  padding: 10px;
  text-align: center;
}

.form {
  background: grey;
  margin: auto;
  position: relative;
  width: 550px;
  height: 800px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #999;
  border: 1px solid #999;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


h2{
  margin: auto;
  display: block;
  text-align: center;
  font-size: 200%;
  padding: 5px;

}


.reviews {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 200%;
  padding: 5px;
}
