<h1> All Theaters </h1>

<ul>
  <% @theaters.each do |theater| %>
    <% if theater.user.nil? %>
        <% theater.user = User.find_by(first_name: "Ghost") %>
    <% end%>
    <li><%= link_to theater.name, theater_path(theater) %> | added by: <%= theater.user.first_name %></li>
  <% end %>
</ul>
<br>
